{% extends "layout.html" %}

{% block title %}RecognizeMe | AI-Powered Smart Attendance System{% endblock %}

{% block content %}

  <!-- <div class="container mt-4">
    <h1>Welcome to RecognizeMe</h1>
    <p>AI-Powered Smart Attendance System</p>
  </div> -->

  {% include "components/hero.html" %}
  {% include "components/innovative.html" %}
  {% include "components/advance_tech.html" %}
  {% include "components/teacher_journey.html" %}
  {% include "components/student_journey.html" %}
  {% include "components/upgrade.html" %}

{% endblock %}